<tr id="issue<%= issue.id %>">
    <td><%= issue.title %></td>
    <td><%= truncate(issue.description, :length=>200) { link_to("read more",issue)}  %>

    <td><%= link_to 'Show', issue %></td>
    <td><%= link_to 'Edit', edit_issue_path(issue) %></td>
    <td><%= link_to 'Destroy', issue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>