<% content_for :title, "Sign in" %>

<style type="text/css">
<!--


form {
	margin:0 auto;
	padding:14px;
	
    max-width: 500px;
}


input[type="email"] {
	width: 250px;
}

input[type="password"] {
	width: 250px;
}


/*
The content `<div>` is where all your content goes.
*/
.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 600px;
    margin-bottom: 50px;
    line-height: 1.6em;
}

.header {
     margin: 0;
     color: #333;
     text-align: center;
     padding: 2.5em 2em 0;
     border-bottom: 1px solid #eee;
 }
    .header h1 {
        margin: 0.2em 0;
        font-size: 3em;
        font-weight: 300;
    }
     .header h2 {
        font-weight: 300;
        color: #ccc;
        padding: 0;
        margin-top: 0;
    }

.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
}

-->
</style>

		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name),  :html => {:class => "form-signin"}) do |f| %>
		<h2 class="form-signin-heading">Log in</h2>
			<div>
				<%= f.email_field :email, :autofocus => true,:class => "form-control",  :placeholder => "example@domain.com" %>
			</div>    
			<div>
				<%= f.password_field :password, :class => "form-control", :placeholder => "Password" %>
			</div>

			<div>
				<% if devise_mapping.rememberable? -%>
					<label for="user[rememberme]" class="pure-checkbox">
					                
					<%= f.check_box :remember_me %> I've read the terms and conditions
					</label>
				<% end -%>
		
				<%= f.submit "Sign in", :class=> "btn btn-lg btn-primary btn-block"   %>
			</div>

			<%= render "devise/shared/links" %>
		</fieldset>
		</form>
		<% end %>
