<%= form_for(@organization, remote: true, :format => "js",:authenticity_token => true, html: {class: "pure-form pure-form-aligned" }) do |f| %>
<div id="error_explanation" style="display: none">

  <% if @organization.errors.any? %>

      <h2><%= pluralize(@organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
      <% @organization.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
  <% end %>
</div>


<div class="pure-control-group">
	    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
<div class="pure-control-group">    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
	<div class="pure-controls">
    <%= f.submit %>

  </div>
<% end %>
