<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Welcome to Program Management</title>
  <%= csrf_meta_tags %>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= stylesheet_link_tag    "default", media: "all", "data-turbolinks-track" => true %>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body>
	<div class="header">
	    <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
	        <a class="pure-menu-heading" href="">Your Site</a>

	        <ul>
	            <li class="pure-menu-selected"><a href="#">Home</a></li>
	            <li><a href="#">Tour</a></li>
				  <% if user_signed_in? %>
				    <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
					      <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
				  <% else %>
				    <li><%= link_to "Sign up", new_user_registration_path %></li>
				    <li><%= link_to "Sign in", new_user_session_path %></li>
				  <% end %>
	        </ul>
	    </div>
	</div>
<%= yield %>
</div>
</html>

		
