<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Welcome to Program Management</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "fluid", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body>
	<div id="layout">
		<div id="main">
			<div class="header">
				<h1><%= yield(:title) %></h1>
				<h2><%= yield(:subtitle) %></h2>
			</div>
	<p class="notice"><%= notice %></p>
	       <p class="alert"><%= alert %></p>
<%= yield %>
</div>
</div>
</html>
